/* Container */

.main__container {
  display: flex;
  justify-content: center;
}

/* Field container */

.field__container {
  width: 60%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.field__input-text {
  outline: none;
  padding: 8px;
  border: 2px solid #ffd700;
  border-radius: 3px;
  width: 30%;
}

body {
  background-color: #03191E;
}

.dropdown__list {
  display: none;
  width: 30%;
}

.dropdown__list.is-active {
  display: block;
}